@charset "UTF-08";


/*paleta de cores
  verde : #49a09d
  roxo : #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;

    transition: width 0.3 heighy 0.3;
    transition-timing-function: ease;
}

section#login>div#imagem>img#imagem {
    background-color: #5f2c82 url(../imagem/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 250px;
    width: 300px;
    display: block;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
text-align: center;
margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}